{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<img src="https://media.discordapp.net/attachments/827827671991582730/1050122542351912960/26-263888_lebron-james-head-png-lebron-james-face-png.png?width=561&height=655" alt="Player Photo" width="300" height="300">
<form action="{% url 'search_result' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" name="search" class="form-control" placeholder="Search your favorite player!">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}